
body{
    background-image: url('background.jpg');
}

fieldset{
    text-align: center;
    width: 40%;
    margin-left: 30%;
    height: 180px;
}
#todo{
    width: 78%;
    height: 50px;
    margin-bottom: 4px;
}
#time{
    margin: 4px;
}
#search{
    margin-top: 4px;
}
.divItem{
    background-image: url(note.png);
    display: inline-block;
    width: 8%;
    padding: 87px;
    margin: 16px;
    background-repeat: no-repeat;
    color: black;
}
#allnotes{
    text-align: center;
}